.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  border:none;
  padding-top: 2em;
  background-image: url("assets/pirateOne.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px black ;
}
.heading{
  color: white;
  font-size: 3em;
  padding-top: 1em;
}
.cross__word{
  text-decoration: line-through;
}
.counter{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 }
.count__boxes{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  flex-wrap: wrap;
}
.song{
  color: white;
  font-size: 2em;
  font-weight: 600;

}
.song__link{
  cursor: pointer;
  color: white;
}
.meme__holder{
  margin-top: 1em;
  display: flex;
 justify-content: center;
}
.button{
width: 30%;
  margin:  1em auto;
  padding: 1em 2em;
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-weight: 700;
}
.meme{
width: 30vw;
margin-bottom: 2em;
}
@media only screen and (max-width: 1000px) {
  .meme{
    width: 80vw;
  }
  .button{
    width: 90%;
  }
  .App{
    height: 110%;
  }
}